{% extends "base.html" %}
{% block content %}
<div class="form-wrapper">
<form method="POST">
    <h2>Post a Job</h2>
    <input  name="job_skill"    placeholder="Required Skill (e.g. Electrician)" required>
    <input  name="job_location" placeholder="Job Location">
    <input  name="pay"          placeholder="Pay / Rate (e.g. K500/day)">
    <textarea name="job_desc"   placeholder="Job Description" required></textarea>
    <button type="submit">Post Job</button>
    <a class="btn outline" href="/dashboard">Cancel</a>
</form>
</div>
{% endblock %}
